@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f1f5f9; /* Tailwindの slate-100 に相当 */
  --foreground: #171717;
}

/* 💡 Tailwind の base レイヤーよりも強く効かせるために !important を付ける */
html,
body {
  background-color: #f1f5f9 !important; /* Tailwindのbg-slate-100と同等 */
  color: #171717 !important;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100%;
  width: 100%;
}
